* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}
html {
  height: 100%;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  min-height: 4rem;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 3rem;
}
.lema {
  margin-left: 1rem;
  color: rgb(55, 0, 255);
}
nav {
  width: fit-content;
}
.ul-nav {
  display: flex;
  padding: 0;
  width: fit-content;
}
.li-nav {
  list-style: none;
  margin: 0.5rem;
  align-self: center;
  width: fit-content;
}
a {
  font-size: 1rem;
}
.li-nav:hover {
  color: red;
}
.carrito {
  display: inline-block;
  content: url(./img/cart-shopping.svg);
  width: 1rem;
  height: 1rem;
}
.carrito:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.burger {
  display: none;
  width: 2rem;
  min-width: 2rem;
}
.burger {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    color: black;
    padding: 0;
    transition: opacity 1s ease;
  }
  #menu {
    width: 100%;
    background-color: blueviolet;
  }
  .li-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
  }
  nav {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 12vh;
    left: 0;
    width: 100vw;
  }
  .burger {
    display: block;
  }
  header {
    justify-content: space-between;
  }
  .ul-nav {
    display: block;
    visibility: hidden;
    width: fit-content;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .lema {
    display: none;
  }
}

/*Css carrito*/

.art {
  margin-top: 4rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.img-prod {
  max-width: 33%;
  min-width: 33%;
}
.titulo-art {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}
.precio-art {
  color: green;
}

.btn-add {
  color: blue;
}
