::root {
  --color-one: #e74c18;
  --color-two: #061524;
  --color-tree: #eddfa7;
  --color-four: #1dc4e0;
}

@font-face {
  font-family: "sportesia";
  src: url("./tipografias/Sportesia.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}
html {
  height: 100%;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  min-height: 4rem;
  justify-content: space-around;
  align-items: center;
  background-color: #061524;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 3rem;
}
.lema {
  margin-left: 1rem;
  color: #1dc4e0;
  font-family: "sportesia";
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
nav {
  width: fit-content;
}
.ul-nav {
  display: flex;
  padding: 0;
  width: fit-content;
}
.li-nav {
  list-style: none;
  margin: 0.5rem;
  align-self: center;
  width: fit-content;
}
a {
  font-size: 1rem;
  color: #1dc4e0;
  text-decoration: none;
}
.carrito {
  width: 2rem;
  height: 2rem;
  background-color: #e74c18;
  border: 3px solid #1dc4e0;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.carrito:hover {
  background-color: #eddfa7;
  border: 3px solid #e74c18;
}
.burger {
  display: none;
}

/* Mobile */
@media screen and (max-width: 696px) {
  header {
    display: block;
  }
  .active {
    display: flex;
    flex-direction: column;
    color: #061524;
    padding: 0;
  }
  #menu {
    width: 100%;
    background-color: #061524;
    position: fixed;
    left: 0;
  }

  .li-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
  }
  .menu-icon {
    width: 2rem;
  }
  /* nav {
    display: none;
  } */
  .burger {
    display: block;
    position: absolute;
    width: 2rem;
    min-width: 2rem;
    top: 3vh;
    right: 2vw;
    cursor: pointer;
  }
  .ul-nav {
    display: none;
    width: fit-content;
  }
}
/*Css carrito*/

.art {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(238, 247, 110, 0.534);
  width: 100%;
  min-height: 100vh;
  justify-content: space-around;
  padding: 80px 30px;
  box-shadow: 0px 0px 40px #c6c6c6;
}

.img-prod {
  width: 100%;
  height: 100%;
  align-items: center;
}
.titulo-art {
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
  text-align: center;
}

.talle {
  border-radius: 10px solid red;
  color: blue;
  background-color: antiquewhite;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}
.precio-art {
  color: green;
}

.btn-add {
  color: blue;
}
