* {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
}
html {
  height: 100%;
  padding: 0.2rem;
  border: 2px solid red;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  min-height: 4rem;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 3rem;
}
.lema {
  margin-left: 1rem;
  color: rgb(55, 0, 255);
}
nav {
  width: fit-content;
}
.ul-nav {
  display: flex;
  padding: 0;
  width: fit-content;
}
.li-nav {
  list-style: none;
  margin: 0.5rem;
  align-self: center;
  height: 100%;
  width: fit-content;
}
a {
  font-size: 1rem;
}
.li-nav:hover {
  color: red;
}
.carrito::before {
  display: inline-block;
  content: url(./img/cart-shopping.svg);
  width: 1rem;
  height: 1rem;
}
.carrito:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.burger {
  display: none;
  width: 2rem;
  min-width: 2rem;
}
.burger {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .active {
    display: flex;
    visibility: visible;
    opacity: 1;
    color: blue;
    padding: 0;
    transition: opacity 1s ease;
  }
  .burger {
    display: block;
  }
  header {
    justify-content: space-between;
  }
  .ul-nav {
    display: flex;
    visibility: hidden;
    width: fit-content;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .lema {
    display: none;
  }
}
